@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 7% 97%;
    --foreground: 330 5% 10%;
    --card: 330 7% 97%;
    --card-foreground: 330 5% 15%;
    --popover: 330 7% 97%;
    --popover-foreground: 330 95% 10%;
    --primary: 330 100% 23.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 292 10% 95%;
    --muted-foreground: 330 5% 40%;
    --accent: 292 10% 90%;
    --accent-foreground: 330 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 330 5% 97%;
    --border: 330 20% 82%;
    --input: 330 20% 50%;
    --ring: 330 100% 23.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 330 10% 10%;
    --foreground: 330 5% 97%;
    --card: 330 7% 10%;
    --card-foreground: 330 5% 97%;
    --popover: 330 10% 5%;
    --popover-foreground: 330 5% 97%;
    --primary: 330 100% 23.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 292 10% 25%;
    --muted-foreground: 330 5% 65%;
    --accent: 292 10% 25%;
    --accent-foreground: 330 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 330 5% 97%;
    --border: 330 20% 50%;
    --input: 330 20% 50%;
    --ring: 330 100% 23.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
